.section {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section .title {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.section .body {
  color: #808080;
  font-size: 16px;
  line-height: 150%;
}