.message {
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
}

.message_content {
  width: 100%;
  display: flex;
}

.message_text {
  padding: 17px 20px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  width: calc(100% - 90px);
  color: white;
  background-color: #4e8cff;
  max-width: calc(100% - 120px);
}