.container .tweeter {
  width: 60px;
  height: 60px;
  background-color: #4e8cff;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}

.container .tweeter:hover {
  box-shadow: 0 0px 27px 1.5px rgba(0,0,0,0.2);
}

.container .tweeter .close_icon {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.container .tweeter .open_icon {
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.container .open .open_icon {
  visibility: hidden;
  transform: rotate(-90deg);
}

.container .open .close_icon {
  transform: rotate(-90deg);
  opacity: 1;
}
